@import url('https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Ruge Boogie", cursive;
    font-size: 29px;
    background: linear-gradient(to right, #ff46ff,#33e1f5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    margin: 0;
    padding: 0;
}
video {
    width: 350px;
    border-radius: 5%;
}


